/* Marker positioning */
.marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: navy;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 2; /* Markers are above the map */
}

/* Event text styling */
.marker div {
  z-index: 999; /* Make sure the event text appears above the map and marker */
  white-space: nowrap;
  word-wrap: break-word; /* Ensure text wraps if it’s too long */
}

/* Hover image styling */
.hover-image {
  position: absolute;
  width: 0;
  height: auto;
  border: 3px solid navy;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 10; /* Hover images are above the event text */
}

.marker:hover .hover-image {
  width: 200px;
  opacity: 1;
  transform: scale(1.2);
}
